@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

/* Variables */
/* Colours */
$colour-black: #17121a; /* Eerie Black */

$colour-green: #0f4700; /* Lincoln Green */

$colour-dark-blue: #001f54; /* Oxford Blue */

$colour-light-blue: #034078; /* Dark Cerulean */

$colour-white: #e2e4de; /* Platinum */
$colour-white1: #fcfcfc;
$colour-white2: #f9faf9;
$colour-white3: #f7f7f6;
$colour-white4: #f4f5f3;
$colour-white5: #f1f2f0;
$colour-white11: #90928e;

/* Fonts */
$font-nova-cut: 'Nova Cut', cursive;
$font-nova-flat: 'Nova Flat', cursive;
$font-nova-square: 'Nova Square', cursive;
$font-nova-slim: 'Nova Slim', cursive;
$font-cuprum: 'Cuprum', sans-serif;

/* Other */
$primary-font: $font-nova-cut;
$primary-font-color: black;
$navbar-height: 3rem;
$footer-height: 3rem;
/* –––––––––– */

/* Utilities */
.mp-0 {
  margin: 0;
  padding: 0;
}

%card-borders {
  border-radius: 10px !important;
  border: 1px solid $colour-black !important;
}

/* –––––––––– */

/* Basic */
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: $navbar-height;
  padding-bottom: $footer-height;
  background-image: url("/img/background.png");
}

/* Beautiful fonts inside div */
a {
  color: $colour-black;
}

a:hover {
  color: $colour-white1;
}

div {
  font: 100% $primary-font;
  color: $primary-font-color;
}

/* –––––––––– */

/* Header */
.cs-navbar {
  background-color: $colour-black;
}

/* –––––––––– */

/* Content */
main {
    margin: 2rem 10rem 2rem 10rem;
  }

@include media-breakpoint-down(lg) {
  main {
    margin: 2rem;
  }
}

.cs-maincard {
  background-color: $colour-white3;
  padding: 2rem;
}

.cs-avatar {
  border-radius: 100px;
}

.cs-card {
  @extend %card-borders;
  background-color: $colour-white1;
}

.cs-contact-card {
  height: 8rem;
  width: 8rem;
}

/* –––––––––– */

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height; /* height == line-height for alignment */
  line-height: $footer-height; /* Vertically center the text there */
  background-color: $colour-black;
  display: flex !important;
  align-items: center;
}

footer div {
  position: absolute;
  right: 3rem;
  color: $colour-white;
}

footer a {
  color: $colour-white;
}

footer a:hover {
  color: $colour-white;
}

/* –––––––––– */

/* Hacks */
.cs-keys-block {
  overflow-y: scroll;
  min-height: 428px; /* TODO fix hack */
  max-height: 428px; /* TODO fix hack */
  /* padding: 3px !important; */
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  div::-webkit-scrollbar {
    width: .75em;
    height: .75em;
  }

  div::-webkit-scrollbar-thumb:vertical {
    height: 5em;
    background-color: #000;
    border-radius: 0 8px 8px 0;
  }
}

.cs-keys-card-button {
  flex: 1;
}

.cs-keys-card {
  margin: 10px;
}

/* –––––––––– */
