@charset "UTF-8";
/* Variables */
/* Colours */
/* Eerie Black */
/* Lincoln Green */
/* Oxford Blue */
/* Dark Cerulean */
/* Platinum */
/* Fonts */
/* Other */
/* –––––––––– */
/* Utilities */
.mp-0 {
  margin: 0;
  padding: 0; }

.cs-card {
  border-radius: 10px !important;
  border: 1px solid #17121a !important; }

/* –––––––––– */
/* Basic */
html {
  position: relative;
  min-height: 100%; }

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("/img/background.png"); }

/* Beautiful fonts inside div */
a {
  color: #17121a; }

a:hover {
  color: #fcfcfc; }

div {
  font: 100% "Nova Cut", cursive;
  color: black; }

/* –––––––––– */
/* Header */
.cs-navbar {
  background-color: #17121a; }

/* –––––––––– */
/* Content */
main {
  margin: 2rem 10rem 2rem 10rem; }

@media (max-width: 1199.98px) {
  main {
    margin: 2rem; } }
.cs-maincard {
  background-color: #f7f7f6;
  padding: 2rem; }

.cs-avatar {
  border-radius: 100px; }

.cs-card {
  background-color: #fcfcfc; }

.cs-contact-card {
  height: 8rem;
  width: 8rem; }

/* –––––––––– */
/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  /* height == line-height for alignment */
  line-height: 3rem;
  /* Vertically center the text there */
  background-color: #17121a;
  display: flex !important;
  align-items: center; }

footer div {
  position: absolute;
  right: 3rem;
  color: #e2e4de; }

footer a {
  color: #e2e4de; }

footer a:hover {
  color: #e2e4de; }

/* –––––––––– */
/* Hacks */
.cs-keys-block {
  overflow-y: scroll;
  min-height: 428px;
  /* TODO fix hack */
  max-height: 428px;
  /* TODO fix hack */
  /* padding: 3px !important; */ }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  div::-webkit-scrollbar {
    width: .75em;
    height: .75em; }

  div::-webkit-scrollbar-thumb:vertical {
    height: 5em;
    background-color: #000;
    border-radius: 0 8px 8px 0; } }
.cs-keys-card-button {
  flex: 1; }

.cs-keys-card {
  margin: 10px; }

/* –––––––––– */

/*# sourceMappingURL=App.css.map */
