/* Declarations */
:root {
    /* Colours */
    --clr-black: #17121a; /* Eerie Black */

    --clr-green: #0f4700; /* Lincoln Green */

    --clr-dark-blue: #001f54; /* Oxford Blue */

    --clr-light-blue: #034078; /* Dark Cerulean */

    --clr-white: #e2e4de; /* Platinum */
    --clr-white1: #fcfcfc;
    --clr-white2: #f9faf9;
    --clr-white3: #f7f7f6;
    --clr-white4: #f4f5f3;
    --clr-white5: #f1f2f0;
    --clr-white11: #90928e;

    /* Fonts */
    --fnt-nova-cut: 'Nova Cut', cursive;
    --fnt-nova-flat: 'Nova Flat', cursive;
    --fnt-nova-square: 'Nova Square', cursive;
    --fnt-nova-slim: 'Nova Slim', cursive;
    --fnt-cuprum: 'Cuprum', sans-serif;
}

/* –––––––––– */

/* Basic */
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 5rem;
    margin-bottom: 60px; /* Margin bottom by footer height */
    background-image: url("/img/background.png");
}

/* –––––––––– */

/* Beatiful fonts inside div */
a {
    color: var(--clr-black);
}

a:hover {
    color: var(--clr-white11);
}

div {
    color: var(--clr-black);
    font-family: var(--fnt-nova-flat);
}

.text-white-nova {
    color: var(--clr-white);
    font-family: var(--fnt-nova-flat);
}

/* –––––––––– */

/* Fonts */
.font-nova-cut {
    font-family: var(--fnt-nova-cut);
}

.font-nova-flat {
    font-family: var(--fnt-nova-flat);
}

.font-nova-square {
    font-family: var(--fnt-nova-square);
}

.font-nova-slim {
    font-family: var(--fnt-nova-slim);
}

.font-cuprum {
    font-family: var(--fnt-cuprum);
}

/* –––––––––– */

/* Header */
.cs-navbar {
    background-color: var(--clr-black);
}

/* –––––––––– */

/* Body */
main {
    margin: 2rem 5rem 2rem 5rem;
}

.cs-maincard {
    background-color: var(--clr-white3);
    padding: 2rem;
}

.cs-avatar {
    border-radius: 100px !important;
}

.cs-bordered-card {
    background-color: var(--clr-white1) !important;
    border-radius: 10px !important;
    border: 1px solid var(--clr-black) !important;
}

.cs-contact-card {
    width: 8rem;
}

.cs-contacts-icons {
    color: var(--clr-black);
}

.cs-btn-dark {
    background-color: var(--clr-black);
    border: none;
    color: var(--clr-white1);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

/* –––––––––– */

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 36px; /* height == line-height for alignment */
    line-height: 36px; /* Vertically center the text there */
    background-color: var(--clr-black);
}

div.copyright-box {
    position: absolute;
    right: 1rem;
    color: var(--clr-white);
}

footer.a {
    color: var(--clr-white);
}

/* –––––––––– */

/* Utilities */
.cs-no-indents {
    /* aka working no-gutters */
    margin: 0 !important;
    padding: 0 !important;
}

/* –––––––––– */

/* Hacks */
.cs-keys-block {
    overflow-y: scroll;
    min-height: 304px;
    max-height: 304px;
    /* padding: 3px !important; */
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    div::-webkit-scrollbar {
        width: .75em;
        height: .75em;
    }

    div::-webkit-scrollbar-thumb:vertical {
        height: 5em;
        background-color: #000;
        border-radius: 0 8px 8px 0;
    }
}

.cs-keys-card-button-group {
    display: flex !important;
}

.cs-keys-card-button {
    flex: 1 !important;
}

.cs-keys-card {
    margin: 10px !important;
}
/* –––––––––– */
